/*
Name: Yang Yang Lu
Section: CSC337 001
HW description:
file descriiption:
*/
p {
	font-weight: bold;
	text-align: center;
}

.annualreport {
	display: flex;
	justify-content: space-around;
}

.annualreport > * {
	border: 1px solid black;
	width: 50%;
}