/*
Name: Yang Yang Lu
Section: CSC337 001
HW description:
file descriiption:
*/
p {
	font-weight: bold;
	text-align: center;
}

.annualreport {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.annualreport > * {
	border: 1px solid black;
	width: 75%;
}